.menu {
    position: relative;
    z-index: 10;
    width: fit-content;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 10px 0;
}

.interactions {
    padding: 0 10px;
}

.interactionLabel {
    color: #000;
    text-transform: uppercase;
    margin: 5px;
}

.toggles {
    display: flex;
}

.toggles > * {
    width: 25%;
    margin: 0 3px;
    padding: 8px 0;
    background-color: #c8c8c8;
    display: grid;
    place-content: center;
    border-radius: 5px;
}

.contextImage {
    position: relative;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.active {
    color: #444;
}

.inactive {
    color: #aaa;
}
