.menu {
    position: relative;
    z-index: 10;
    width: fit-content;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    background-color: #fff;
}

.toggles {
    display: flex;
}

.toggles > * {
    width: 20%;
    margin: 0 5%;
}

.menu p {
    color: #000;
    text-transform: uppercase;
}

.menu button {
    font: inherit;
    border: 0;
    background-color: transparent;
}

.contextImage {
    position: relative;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.active {
    color: #444;
}

.inactive {
    color: #aaa;
}
