.markerInterface {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #111;
}

.markerSelect {
    display: flex;
}

.inactive, .active {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    font-size: 12px;
    border-left: 1px solid #555;
    user-select: none;
}

.delete {
    position: absolute;
    right: 10px;
}

.markerSelect > a:first-child {
    border: none;
}

.inactive {
    color: #999;
    opacity: 0.5;
}

.active {
    color: #fff;
}

.charts {
    display: flex;
    width: 100vw;
    height: 150px;
}

.charts > div {
    padding: 10px;
    width: 33.333%;
    height: 100%;
}
