.markerInterface {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    --color-toggle-width: 125px;
}

.markerSelect {
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    height: 25px;
}

.tabWrap {
    display: flex;
    max-width: calc(100vw - var(--color-toggle-width));
    overflow-x: scroll;
}

.tab, .unselected {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    font-size: 14px;
    color: #000;
    user-select: none;
    border-radius: 0 10px 0 0;
}

.tab::before, .unselected::before {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
}

.unselected {
    filter: brightness(3) saturate(50%);
}

.unselected:hover {
    filter: brightness(3);
}

.charts {
    display: flex;
    width: 100vw;
    height: 150px;
    background-color: #fff;
}

.charts > div {
    padding: 10px;
    width: 33.333%;
    height: 100%;
}

.colorToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: var(--color-toggle-width);
    font-size: 12px;
    background-color: #fff;
    border-radius: 10px 0 0 0;
}
