.markerInterface {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.markerSelect {
    display: flex;
}

.tab, .unselected {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    font-size: 12px;
    user-select: none;
    color: #000;
}

.unselected {
    opacity: 0.5;
}

.charts {
    display: flex;
    width: 100vw;
    height: 150px;
}

.charts > div {
    padding: 10px;
    width: 33.333%;
    height: 100%;
}
