.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 12px;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 0 5px;
    display: flex;
    flex-direction: column;
}

.menu > p {
    text-transform: uppercase;
}

.menu > span {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.menu > span > input {
    width: 150px;
}

.menu button {
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #bbb;
}
