.menu {
    position: relative;
    z-index: 10;
    width: fit-content;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 10px 0;
}

.interactions {
    padding: 0 10px;
}

.interactionLabel {
    color: #000;
    text-transform: uppercase;
    margin: 5px;
}

.toggles {
    display: flex;
}

.toggles > button {
    position: relative;
    width: 25%;
    margin: 0 3px;
    padding: 8px 0;
    background-color: #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.toggles > button[data-active="false"] {
    opacity: 0.5;
}

.toggles > button:hover {
    background-color: #bbb;
}

.contextImage {
    position: relative;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.wormMenu {
    display: flex;
    align-items: center;
}

.wormArrow {
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.wormDropdown {
    position: absolute;
    top: 0;
    right: -205px;
    width: 200px;
    height: 100%;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wormDropdown > a:hover {
    opacity: 0.5;
}
