.wrap {
    display: flex;
    padding: 0 5px;
}

.barWrap {
    position: relative;
    width: 200px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.speedWrap {
    display: flex;
    height: 20px;
    display: flex;
    align-items: center;
}

.speedWrap > input {
    font: inherit;
    width: 30px;
    border: none;
    background-color: transparent;
    text-align: right;
    padding-right: 5px;
}

.bounds {
    position: relative;
    z-index: 20;
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    padding: 0 5px;
}

.timeline {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #c8c8c8;
    border-radius: 5px;
    overflow: hidden;
}

.timelineBar {
    position: relative;
    margin: 0;
    background-color: #c8d8ff;
    height: 100%;
    display: flex;
    justify-content: right;
}
